= render 'items/header-simple'
.body-gray
  .main
    .main__top
      %p.main__text 新規会員登録
    .main__bottom
      .main__box
        .main__item
          .main__item--black
            = link_to "メールアドレスで登録", new_user_registration_path
      .main__box
        = link_to "facebookで登録", user_facebook_omniauth_authorize_path, class: 'main__item main__item--a'
      .main__box
        = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, class: 'main__item main__item--aa'
= render 'items/footer-buy'