= render 'items/header'
.gray-background
    .user-page
        .user-page__content
            .identification__title 本人情報の登録
            .identification
                %p お客さまの本人情報をご登録ください。<br>登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
                .identification__top__message 
                    = link_to root_path, class: "" do
                        本人確認書類のアップロードについて ▶
                .input-form__item
                    %label お名前
                    %p 加藤尚人
                .input-form__item
                    %label お名前（カナ）
                    %p カトウナオト
                .input-form__item
                    %label 生年月日
                    %p 1997/1/15
                .input-form__item
                    %label 郵便番号
                    %span.input-form__icon 任意
                    %input{type:"text", value:"", name:"",placeholder:"ex)150-0043"}
                .input-form__item
                    %label 都道府県
                    %span.input-form__icon 任意
                    %div.select
                        %select
                        = @address
                .input-form__item
                    %label 市区町村
                    %span.input-form__icon 任意
                    %input{type:"text", value:"", name:"",placeholder:"ex)渋谷区"}
                .input-form__item
                    %label 番地
                    %span.input-form__icon 任意
                    %input{type:"text", value:"", name:"",placeholder:"ex)道玄坂2-23-12"}
                .input-form__item
                    %label 建物名
                    %span.input-form__icon 任意
                    %input{type:"text", value:"", name:"",placeholder:"ex)フォンティスビル"}
                %button{type:"submit"} 登録する
                .identification__bottom__message
                    = link_to root_path, class: "" do
                        本人情報の登録について ▶
        = render '/users/sidebar'
= render 'items/footer'
= render 'items/footer-sell-btn'
