= render 'items/header'
= render 'items/header-nav'
.gray-background
    .user-page
        .user-page__content
            .user-profile
                .user-profile__title
                    %h2.user-profile__title__text プロフィール
                .user-profile__background
                    .user-profile__background__image
                        =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", class: :"user-profile__background__image-figure"
                        %input{ type: "text", name: "", placeholder: current_user.nickname, class: :"user-profile__background__image-var" }
                .user-profile__content
                    %textarea{ type: "text", placeholder: "はじめまして", name: "", class: :"user-profile__content-textarea"}
                .user-profile__btn
                    = link_to root_path, class: "user-profile__btn-change" do
                        変更する
        = render 'sidebar'
= render 'items/footer'
= render 'items/footer-sell-btn'
