- breadcrumb :users
= render 'items/header'
= render 'items/header-nav'
.gray-background
    .user-page
        .user-page__content
            .mypage
                .mypage__main
                    .mypage__main-top
                        = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", class: :"mypage__image"
                        .h2#name=current_user.nickname
                        .mypage__main-top-number
                            .h2#valuation 評価数
                            %span.num 0
                            .h2#exhibit 出品数
                            %span.num 0
                    .mypage-tab-container-1.active
                        .mypage-tab-notification
                            %ul.mypage-tab-notification__tabs
                                %li.tab.focus
                                    %h3 お知らせ
                                %li.tab.do
                                    %h3 やることリスト
                        .mypage-notification
                            %ul.mypage-notification__data
                                %li.mypage-notification__data__list
                                    =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", class: :"mypage-notification__data__list-image"
                                    .mypage-notification__data__list__detail
                                        %p.mypage-notification__data__list__detail-text 事務局から個別メッセージ
                                        .mypage-notification__data__list__detail-time
                                            %i.fa.fa-clock-o
                                            %span １時間前
                                        %i.fa.fa-angle-right
                        .mypage-notification
                            %ul.mypage-notification__data
                                %li.mypage-notification__data__list
                                    =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", class: :"mypage-notification__data__list-image"
                                    .mypage-notification__data__list__detail
                                        .mypage-notification__data__list__detail-text 事務局から個別メッセージ
                                        .mypage-notification__data__list__detail-time
                                            %i.fa.fa-clock-o
                                            %span 16時間前
                                        %i.fa.fa-angle-right
                        .notification-contain
                            .notification-contain__btn
                                .notification-contain__btn__text 一覧を見る
                    .mypage-tab-container-2.hidden
                        .mypage-tab-notification
                            %ul.mypage-tab-notification__tabs
                                %li.tab.done
                                    %h3 お知らせ
                                %li.tab.focus
                                    %h3 やることリスト
                        .mypage-notificaiton-2
                            %ul.mypage-notification-2__todo
                                %li.mypage-notification-2__todo__detail 現在やることリストはありません
            .mypage-purchase
                %h2.mypage-purchase__title 購入した商品
                    
            .mypage-purchase-container-1
                %ul.mypage-purchase-tabs
                    %li.mypage-purchase-tabs__trade
                        %h3 取引中
                    %li.mypage-purchase-tabs__traded
                        %h3 過去の取引
                .mypage-purchase__content
                    %ul.mypage-purchase__content__data
                        %li.mypage-purchase__content__data-detail 取引中の商品がありません
            .mypage-purchase-container-2
                %ul.mypage-purchase-tabs
                    %li.mypage-purchase-tabs__trading
                        %h3 取引中
                    %li.mypage-purchase-tabs__trade
                        %h3 過去の取引
                .mypage-purchase__content
                    %ul.mypage-purchase__content__data
                        %li.mypage-purchase__content__data-detail 過去に取引した商品がありません
        = render 'sidebar'
= render 'items/footer'
= render 'items/footer-sell-btn'
