= render '/users/header_progress'

%section.user-regist.active
  = render '/users/registration'

%section.user-regist
  = render '/users/confirmation'

%section.user-regist
  = render '/users/address'

%section.user-regist
  = render '/users/pay'

%section.user-regist
  = render '/users/done'
