= render 'items/header-simple'
.gray-background
    .main
        .l__single-container
            .l__single-container-head 商品の情報を入力
            = form_for @item, method: :patch do |f|
                .sell__upload__boxes
                    %h3.sell__upload__boxes-head 出品画像
                    %span.form__required 必須
                    %p 最大10枚までアップロードできます
                    .sell__dropbox__container.state__image__number
                        .sell__upload__items__container
                        .sell__upload__items.have__item
                            %ul#sell__upload__items__list
                        = f.fields_for :images do |i|
                            %label.sell__upload__drop-box.have__item-0
                                = i.file_field :images, multiple: true, name: "item[images_attributes][0][image_url]", class: "file-0"
                                %pre.visible__pc
                                    ドラッグアンドドロップ
                                    またはクリックしてファイルをアップロード

                            %label.sell__upload__drop-box.have__item-1
                                = i.file_field :images, multiple: true, class: "file-1"
                                %pre.visible__pc
                                    ドラッグアンドドロップ
                                    またはクリックしてファイルをアップロード

                            %label.sell__upload__drop-box.have__item-2
                                = i.file_field :images, multiple: true, class: "file-2"
                                %pre.visible__pc
                                    ドラッグアンドドロップ
                                    またはクリックしてファイルをアップロード

                            %label.sell__upload__drop-box.have__item-3
                                = i.file_field :images, multiple: true, class: "file-3"
                                %pre.visible__pc
                                    ドラッグアンドドロップ
                                    またはクリックしてファイルをアップロード

                            %label.sell__upload__drop-box.have__item-4
                                = i.file_field :images, multiple: true, class: "file-4"
                                %pre.visible__pc
                                    ドラッグアンドドロップ
                                    またはクリックしてファイルをアップロード
                .sell-contents
                    .form-group
                        %label 商品名
                        %span.form__required 必須
                        %div
                            = f.text_field :name, class:"input-name", placeholder:"商品名（必須40字まで）", value: @item.name
                    .form-group
                        %label 商品の説明
                        %span.form__required 必須
                        %div
                            = f.text_area :detail, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", value: @item.detail
                .sell-content1.clearfix
                    %h3.sell-sub-head 商品の詳細
                    .sell-form-box1
                        .form-groups
                            %label カテゴリ
                            %span.form__required 必須
                            .select-wrap
                                = f.collection_select :category_id, Category.all, :id, :name
                        .form-groups
                            %label 商品の状態
                            %span.form__required 必須
                            .select-wrap
                                = f.collection_select :condition_id, Condition.all, :id, :name
                .sell-content2.clearfix
                    %h3.sell-sub-head 配送について
                    = link_to "https://www.mercari.com/jp/help_center/article/64/", class: "form__question" do
                        ?
                    .sell-form-box2
                        .form-groups
                            %label 配送料の負担
                            %span.form__required 必須
                            .select-wrap
                                = f.collection_select :category_id, Burden.all, :id, :name
                        .form-groups
                            %label 発送元の地域
                            %span.form__required 必須
                            .select-wrap
                                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}
                        .form-groups
                            %label 発送までの日数
                            %span.form__required 必須
                            .select-wrap
                                = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name
                .sell-content3.clearfix
                    %h3.sell-sub-head 販売価格(300〜9,999,999)
                    = link_to "https://www.mercari.com/jp/help_center/article/64/", class: "form__question" do
                        ?
                    .sell-form-box3
                        %ul.sell__price
                            %li.form-group-price
                                .clearfix-2
                                    %label 価格
                                    %span.form__required 必須
                                .sell__price-input
                                    = f.text_field :price , class: "input-default", placeholder:"例)300円", value: @item.price
                            %li.plce
                                .l-left 販売手数料 (10%)
                                .l-right.default-price.handling_charge -
                            %li.plce
                                .l-left 販売利益
                                .l-right.default-price.profitFee -
                .sell-content4.clearfix
                    = f.submit "変更する", class: "btn__default-red"
                    = link_to 'キャンセル', root_path, class:"btn__default-gray"
= render 'items/footer-buy'
