%body
  =render 'header'
  %main.wrapper
    %section.header__banner
      = link_to 'https://www.mercari.com/jp/featured/newlife/' do
        = image_tag 'header__banner.png', class: 'top-banner'
    %section.boxes
      %h2.boxes__title
        商品一覧
      %section.box
        %h3.box__title
          = link_to items_path do
            アイテム
        .box__content
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
          = render 'item'
        .view-all
          = link_to items_path do
            すべての商品を見る
  =render 'footer'
