%body
  =render 'header'
  %main.wrapper
    %section.header__banner
      = link_to 'https://www.mercari.com/jp/featured/newlife/' do
        = image_tag 'header__banner.png', class: 'top-banner'
    %section.boxes
      %h2.boxes__title
        ピックアップカテゴリー
      %section.box
        %h3.box__title
          = link_to items_path do
            レディース 新着アイテム
        .box__content
          = render @ladies_items
        .view-all
          = link_to items_path do
            すべての商品を見る
        %h3.box__title
          = link_to items_path do
            メンズ 新着アイテム
        .box__content
          = render @mens_items
        .view-all
          = link_to items_path do
            すべての商品を見る
        %h3.box__title
          = link_to items_path do
            ベビー・キッズ 新着アイテム
        .box__content
          = render @baby_kids_items
        .view-all
          = link_to items_path do
            すべての商品を見る
        %h3.box__title
          = link_to items_path do
            コスメ・香水・美容 新着アイテム
        .box__content
          = render @cosmetics_perfume_beauty_items
        .view-all
          = link_to items_path do
            すべての商品を見る
    %section.boxes
      %h2.boxes__title
        ピックアップブランド
      %section.box
        %h3.box__title
          = link_to items_path do
            シャネル 新着アイテム
        .box__content
          = render @chanel_items
        .view-all
          = link_to items_path do
            すべての商品を見る
        %h3.box__title
          = link_to items_path do
            ルイ ヴィトン 新着アイテム
        .box__content
          = render @louis_vuitton_items
        .view-all
          = link_to items_path do
            すべての商品を見る
        %h3.box__title
          = link_to items_path do
            シュプリーム 新着アイテム
        .box__content
          = render @supreme_items
        .view-all
          = link_to items_path do
            すべての商品を見る
        %h3.box__title
          = link_to items_path do
            ナイキ 新着アイテム
        .box__content
          = render @nike_items
        .view-all
          = link_to items_path do
            すべての商品を見る
  = render 'footer'
  = render 'footer-sell-btn'
