= render 'header'
.gray-background
    .user-page
        .user-page__content
            .items-list
                .items-list__main
                    .items-list__main-top 出品した商品
                    .items-list__main__tabs-container
                        %ul.items-list__tabs
                            %li.tab.focus
                                %h3 出品中
                            %li.tab.doing
                                %h3 取引中
                            %li.tab.done
                                %h3 売却済み
                    .items-list__main-lists
                        %ul.items-list__container
                            %li.items-list__container-list
                                = image_tag "", class:"items-list__container-list__image"
                                .items-list__container-list__detail
                                    = link_to "世界一速く結果を出す人は、なぜ、メールを使わないのか", "/items/detail",class:"items-list__container-list__detail-text"
                                    .icons
                                        = fa_icon "heart-o", class: "heart"
                                        = fa_icon "comment-o", class: "message-icon"
                                    = fa_icon "angle-right" , class: "angle-right"
                            %li.items-list__container-list
                                = image_tag "", class:"items-list__container-list__image"
                                .items-list__container-list__detail
                                    = link_to "世界一速く結果を出す人は、なぜ、メールを使わないのか", "/items/detail",class:"items-list__container-list__detail-text"
                                    .icons
                                        = fa_icon "heart-o", class: "heart"
                                        = fa_icon "comment-o", class: "message-icon"
                                    = fa_icon "angle-right" , class: "angle-right"
                    %ul.items-list__main-angles
                        %li.angle-left
                            = fa_icon "angle-left"
                        %li.angle-right
                            = fa_icon "angle-right"
        = render 'users/sidebar'
= render 'items/footer'