.wrap#sell
  %main.l__single-container.buy-item-container
    #sell-container
      %h2.l__single-head 商品の情報を入力
      %form.sell__form
        .sell__upload__box
          %h3.sell__upload__box-head
            出品画像
            %span.form__require 必須
          %p 最大10枚までアップロードできます
          .sell__dropbox-container-clearfix
            .sell__upload__drop-box
              %pre.visible-pc
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
                %br>/
        .sell-content
          .form-group
            商品名
            %span.form__require 必須
            %p
              商品名（必須40字まで）
          .form-group
            商品の説明
            %span.form__require 必須
            .textarea-default
              商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。
        .sell-content.clearfixx
          %h3.sell-sub-head 商品の詳細
          .sell-form-box
            .form-group.form-group-category
              カテゴリ
              %span.form__require 必須
              .select-wrap
              .select-default
            .form-group
              商品の状態
              %span.form__require 必須
              .select-wrap
              .select-default
        .sell-content.clearfix
          %h3.sell-sub-head 配送について
          %a.form__question
          = link_to "https://www.mercari.com/jp/help_center/article/64/", target: '_blank' do
            ?
          .sell-form-box
            .form-group
              配送料の負担
              %span.form__require 必須
              .select-wrap
              .select-default
            .form-group
              発送元の地域
              %span.form__require 必須
              .select-wrap
              .select-default
            .form-group
              発送までの日数
              %span.form__require 必須
              .select-wrap
              .select-default
        .sell-content.clearfix
          %h3.sell-sub-head 販売価格(300〜9,999,999)
          %a.form__question
          = link_to "https://www.mercari.com/jp/help_center/article/64/", target: '_blank' do
            ?
          .sell-form-box
            %ul.sell__price
              %li.form-group
                .clearfixxx
                  価格
                  %span.form__require 必須
                  #inputPrice.l-right.sell-price-input
                    .input-default 例)300円
                %li.clearfix.plce
                  .l-left 販売手数料 (10%)
                  #handling_charge.l-right -
                %li.clearfix.bold
                  .l-left 販売利益
                  #profitFee.l-right -
        .sell-content.sell-btn-box
          %div
            %p
              = link_to "#", target: '_blank' do
                禁止されている出品
              = link_to "#", target: '_blank' do
                行為
              を必ずご確認ください
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#", target: '_blank' do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "#", target: '_blank' do
                加盟店規約
              に同意したことになります。
            .btn__default.btn-red 出品する
          %a.btn__default.btn-gray もどる
