= render 'items/header'
= render 'items/header-nav'
.gray-background
  .user-page
    .section.item
      %h1.item__name
        = @item.name
      .item__content.clearfix
        .item__content__image
          - @item.images.each do |image|
            .item__content__image__top
              = image_tag "#{image.image_url}"
        %table.item__content__table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to @item.user.nickname
                %div
                  .item-user__rating
                    = image_tag("")
                    = fa_icon "smile-o"
                    %span 192
                  .item-user__rating
                    = image_tag("")
                    = fa_icon "meh-o"
                    %span 3
                  .item-user__rating
                    = image_tag("")
                    = fa_icon "frown-o"
                    %span 0
            %tr
              %th カテゴリー
              %td
                = link_to root_path do
                  = @item.category.name
                .large-category
            %tr
              %th ブランド
              %td
                = link_to "#" do
                  = @item.brand.name
            %tr
              %th 商品の状態
              %td
                =@item.condition.name
            %tr
              %th 配送料の負担
              %td 
                = @item.burden.name
            %tr
              %th 配送の方法
              %td らくらくメルカリ便
            %tr
              %th 配送元地域
              %td
                = link_to "#" do
                  = @item.prefecture.name
            %tr
              %th 発送の目安
              %td 
                = @item.shipping_date.name
      .item__price
        %span.item__price--bold
          = "¥" + @item.price.to_s
        %span.item__price__tax (税込)
        %span.item__price__shipping-fee 送料込み
        .item__btn
          = link_to purchase_items_path do
            購入画面に進む
      .item__description
        %p.item__description--inner
          = @item.detail
      .item__likes.clearfix
        .item__likes__left
          %button.item__button__likes
            %i.fa.fa-heart
            %span いいね!
            %span 1420
          %a.item__button__report
            %i.fa.fa-flag
              %span 不適切な商品の報告
        .item__likes__right
          %i.fa.fa-lock
          = link_to "あんしん・あんぜんへの取り組み"
    .item-messages
      .item-messages__content
        .item-messages__content--inner
          .item-messages__content--inner__form
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{type:"text", value:""}
            .sell__btn__gray
              %span コメントする
    .item-next
      %ul.item-next-content
        %li
          = link_to root_path, class: "item-next-content-left" do
            %i.fa.fa-angle-left
            グーグルに学ぶディープラーニング
        %li
          = link_to root_path , class: "item-next-content-right" do
            多動力
            %i.fa.fa-angle-right
    .item-social-media
      %ul.item-social-media__box
        %li
          = link_to ""
          = image_tag("https://ja.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png", class: "image01")
        %li
          = link_to ""
          = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/LINE_logo.svg/600px-LINE_logo.svg.png", class: "image01")
        %li
          = link_to ""
          = image_tag("http://www.marksign.net/wp-content/uploads/2016/03/twitter_m.jpg", class: "image01")
    .item-user-profile
      .item-user-profile__container
        = link_to root_path, class: "item-user-profile__container-1" do
          わたしさんのその他の出品
      = render @ladies_items
    .item-user-profile
      .item-user-profile__container
        = link_to root_path, class: "item-user-profile__container-1" do
          ビジネス/経済 （本・音楽・ゲーム） その他の商品
      = render @ladies_items
= render 'items/footer'
= render 'items/footer-sell-btn'

